<div class="social-networks">

</div>

{% schema %}
    {
        "name": "Social networks",
        "settings": [
            {
                "type": "link_list",
                "id": "social-networks",
                "label": "Social networks menu"
            }
        ],
        "presets": [
            {
                "name": "Social networks"
            }
        ]
    }
{% endschema %}