
.banner__inner{
    position: relative;
}

.banner__background{
    height: 100%;
    height: 674px;
}

.banner__background img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.banner__background::before{
    content: '';
    position: absolute;
    top: 0;
    display: block;
    left: 0;
    right: 0;
    height: 674px;
    background: linear-gradient(180deg, rgba(14, 11, 7, 0.85) 7.34%, rgba(14, 11, 7, 0) 123.66%);
}

.banner_bg-red{
    height: 100%;
    background-color: #EB2240;

}

.banner__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__content h1{
    font-family: 'SignPainter';
    font-style: normal;
    font-weight: 700;
    font-size: 166px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
}

.banner__content div{
    display: flex;
    gap: 24px;
}

@media(max-width: 1200px){
    
    .banner__content h1{
        font-size: 150px;
    }

}

@media(max-width: 950px){
    .banner__content h1{
        font-size: 138px;
    }

}

@media(max-width: 950px){
    .banner__content h1{
        white-space: break-spaces;
    }

}

@media(max-width: 510px){
    .banner__background{
        height: 777px;
    }
}

@media(max-width: 370px){
    .banner__content{
        width: 100%;
        padding: 0 17px;
    }

    .banner__content h1{
        font-size: 110px;
    }
}