
.banner__inner{
    position: relative;
}

.banner__background{
    height: 100%;
    height: 830px;
}

.banner__background img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.banner_bg-red{
    height: 100%;
    background-color: #EB2240;

}

.banner__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__content h1{
    font-family: 'SignPainter';
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.banner__content h2{
    font-family: 'SignPainter';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 3px;
    line-height: 140%;
    margin-bottom: 95px;
}

.banner__content a {
    display: block;
    background-color: #fff;
    padding: 22px 166px;
    color: rgba(235, 34, 64, 1);
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}