.featured-collection{
    padding: 71px 0 31px 0;
}

.featured-collection_row{
    justify-content: space-between;
    flex-wrap: wrap;
}

.default_product_image{
    max-width: 386.5px;
    max-height: 393.35px;
    width: 100%;
    height: 100%;
}

.featured-collection__title{
    text-align-last: left;
    margin-bottom: 60px;
    margin-top: -26px;
}