.featured-collection{
    padding: 71px 0 31px 0;
}

.featured-collection_row{
    justify-content: space-between;
    flex-wrap: wrap;
}

.default_product_image{
    max-width: 386.5px;
    max-height: 393.35px;
    width: 100%;
    height: 100%;
}

.featured-collection__title{
    text-align-last: left;
    margin-bottom: 24px;
    margin-top: -26px;
}

.featured-collection__subtitle{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    display: block;
    text-align: center;
    letter-spacing: 0.085em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #0E0B07;
    margin-bottom: 48px;
}

@media(max-width: 1440px){
    .featured-collection_row{
        padding: 0 30px;
    }
}

@media(max-width: 1400px){
    .product-card {
        flex: 0 0 35%;
        max-width: 35%;
    }

    .featured-collection_row{
        justify-content: space-around;
    }
}

@media(max-width: 1160px){
    .product-card__icons ul{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(max-width: 900px){
    .product-card {
        flex: 0 0 60%;
        max-width: 60%;
    }

    .featured-collection{
        padding-bottom: 0;
    }
}

@media(max-width: 600px){
    .product-card {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .featured-collection__title{
        display: flex;
        justify-content: center;
        text-align: center;
        text-align-last: center;
        padding: 0 12px;
    }
}

@media(max-width: 400px){
    .featured-collection_row{
        padding: 0 14px;
    }
}